<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 引入admin模块的header-fragment -->
<header th:replace="admin/header::header-fragment">
</header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头部导航header-nav -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment，并传递path参数 -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- 主要部分 -->
        <div class="content">
            <div class="container-fluid">
                <!-- 分类管理卡片 -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">分类管理</h3>
                    </div> <!-- /.card-header -->
                    <div class="card-body">
                        <!-- 分类管理操作按钮 -->
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="categoryAdd()"><i class="fa fa-plus"></i>&nbsp;新增</button>
                            <button class="btn btn-info" onclick="categoryEdit()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</button>
                            <button class="btn btn-danger" onclick="deleteCagegory()"><i class="fa fa-trash-o"></i>&nbsp;删除</button>
                        </div>
                        <br>
                        <!-- JqGrid必要DOM,用于创建表格展示列表数据 -->
                        <table class="table table-bordered" id="jqGrid">
                        </table>
                        <!-- JqGrid必要DOM,分页信息区域 -->
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
        <!-- 分类管理模态框（Modal） -->
        <div class="content">
            <div aria-labelledby="categoryModalLabel" class="modal fade" id="categoryModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="categoryModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <!-- 分类管理表单 -->
                            <form id="categoryForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        错误信息展示栏。
                                    </div>
                                </div>
                                <input class="form-control" id="categoryId" name="categoryId" type="hidden">
                                <div class="form-group">
                                    <label class="control-label" for="categoryName">分类名称:</label>
                                    <input class="form-control" id="categoryName" name="categoryName"
                                           placeholder="请输入分类名称"
                                           required="true" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="categoryIcon">分类图标:</label>
                                    <select class='form-control select2 image-picker' id="categoryIcon"
                                            name="categoryIcon">
                                        <!-- 分类图标选择 -->
                                        <option data-img-src='/admin/dist/img/category/00.png'
                                                value='/admin/dist/img/category/00.png'> 默认图标
                                        </option>
                                        <!-- 其他图标选项 -->
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
                            <button class="btn btn-primary" id="saveButton" type="button">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery库 -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI库 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4库 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jqgrid库 -->
<script th:src="@{/admin/plugins/jqgrid-5.7.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.7.0/grid.locale-cn.js}"></script>
<!-- image-picker库 -->
<script th:src="@{/admin/plugins/image-picker/query.masonry.min.js}"></script>
<script th:src="@{/admin/plugins/image-picker/image-picker.min.js}"></script>
<!-- sweetalert库 -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- 公共脚本 -->
<script th:src="@{/admin/dist/js/public.js}"></script>
<!-- 分类管理脚本 -->
<script th:src="@{/admin/dist/js/category.js}"></script>
</body>
</html>